<div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
  <% @grams.each do |gram| %>
    <div class="card">
      <div class="handle"><%= gram.user.fullname %></div>
      <%= image_tag gram.picture, class: 'img-fluid' %>

      <p>
        <%= gram.message %>
      </p>

      <div class="gram-actions float-right">
        <% if current_user && current_user == gram.user %>
          <%= link_to 'Edit', edit_gram_path(gram) %>
          <%= link_to 'Delete', gram_path(gram), method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      </div>

      <br class="clear-fix" />

      <%= link_to 'View Comments', gram_path(gram), class: 'btn comment-btn my-btn' %>

      <br class="clear-fix" />
    </div>
  <% end %>
</div>